{% extends "base.html" %}

{% load bootstrap3 i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>{% trans "Sign Out" %}</h1>
                <p>{% trans 'Are you sure you want to sign out?' %}</p>

                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    {% buttons %}
                        <button type="submit" class="btn btn-success">{% trans "Sign Out" %}</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

