{% extends "account/base.html" %}

{% load bootstrap3 i18n %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>{% trans "Sign Up" %}</h1>
                <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %} enctype="multipart/form-data"">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    {% buttons %}
                        <button type="submit" class="btn btn-success">{% trans "Sign Up" %}</button>
                    {% endbuttons %}
                </form>
            </div><!-- col-md -->
        </div><!-- row -->
    </div><!-- container -->

{% endblock %}