{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>{% trans "Welcome!" %}</h1>
            <p>{% trans "Django project to retrieve user profile information from different social APIs!!" %}</p>
            {% comment %}
            <p><a class="btn btn-primary btn-lg" href="{% url 'accounts:create_user_profile' %}" role="button">{% trans "Register" %}</a></p>
            {% endcomment %}
        </div><!-- container -->
    </div><!-- jumbotron -->
</div><!-- container -->

{% endblock %}
